@font-face {
	font-family: Maiandra GD;
	src: 	local(Maiandra GD),
		url(..fontsMaiandraGD.eot) format(eot),
		url(..fontsMaiandraGD.woff) format(woff),
		url(..fontsMaiandraGD.ttf) format(ttf);
}

@font-face {
	font-family: Myriad Pro;
	src: 	local(Myriad Pro Bold),
		url(..fontsMyriadPro-Bold.eot) format(eot),
		url(..fontsMyriadPro-Bold.woff) format(woff),
		url(..fontsMyriadPro-Bold.ttf) format(ttf);
		font-weight: bold;
}

@font-face {
	font-family: Myriad Pro;
	src: 	local(Myriad Pro Regular),
		url(..fontsMyriadPro-Regular.eot) format(eot),
		url(..fontsMyriadPro-Regular.woff) format(woff),
		url(..fontsMyriadPro-Regular.ttf) format(ttf);
		font-weight: normal;
}

@font-face {
	font-family: Roboto;
	src: 	local(Roboto Light),
		url(..fontsRoboto-Light.eot) format(eot),
		url(..fontsRoboto-Light.woff) format(woff),
		url(..fontsRoboto-Light.ttf) format(ttf);
		font-weight: 400;
}

@font-face {
	font-family: Roboto;
	src:	local(Roboto Thin),
		url(..fontsRoboto-Thin.eot) format(eot),
		url(..fontsRoboto-Thin.woff) format(woff),
		url(..fontsRoboto-Thin.ttf) format(ttf);
		font-weight: 300;
}