/* 1601 - 1920 */
@media screen and (max-width: 1920px) {

}


/* 1369 - 1600 */
@media screen and (max-width: 1600px) {
	
}


/* 961 - 1368 */
@media screen and (max-width: 1279px) {
	.header__right {
		display: none;
	}

	.header__left {
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.navigation__item {
		margin: 0 15px;
	}

	.navigation__anchor {
		font-size: 12px;
	}

	.Text__content {
		padding: 30px 50px;
	}

	.about-text {
		font-size: 14px;
	}
	
	.content__offer {
		font-size: 35px;
		font-weight: 100;
		margin-top: 10px;
	}

	.content__offer_second-line {
		margin-left: 230px;
	}

	.content__sub-offer {
		font-size: 14px;
		font-weight: 300;
		text-indent: 32px;
		width: 350px;
		margin: 20px 0;
		margin-left: 70px;
	}

	.button {
		font-size: 12px;
		height: 37px;
		width: 130px;
	}

	.button_small {
		height: 30px;
		width: 90px;
		font-size: 12px;
	}

	.Main__button {
		margin-left: 150px;
	}
	
	.list-item {
		width: auto;
		max-width: 100%;
		min-width: 0;
		height: 150px;
	}
	
	.list-item__number {
		width: 75px;
		font-size: 100px;
	}

	.list-item__header {
		margin-top: 0px;
		font-size: 30px;
	}

	.list-item__text {
		margin-top: 10px;
		width: 250px;
		font-size: 12px;
		line-height: 1.5;
	}

	.table__head {
		font-size: 18px;
		padding: 15px;
	}

	.table__cell {
		padding: 0 40px;
	}

	.table__cell:not(.colspan-3) {
		min-height: 350px;
	}

	.table__price {
		font-size: 24px;
	}

	.table__text {
		font-size: 13px;
	}

	.colspan-3 {
		padding: 20px 40px;
	}

}


/* 769 - 960 */
@media screen and (max-width: 960px) {
	.about-text {
		font-size: 12px;
	}
}


/* 481 - 768 */
@media screen and (max-width: 768px) {
	
}


/* 320 - 480 */
@media screen and (max-width: 480px) {
	
}