/*FONTS
	"Maiandra GD"
	"Myriad Pro"	bold / normal
	"Roboto"		400  / 300
*/

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.df {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.page {
	padding: 0 100px;
	margin: 0;
	background: url(../img/main_bg_fhd.png) center top /cover no-repeat;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: #fff;
}



/* 	HEADER  */

.header {
	height: 120px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__left {
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__logo {
	width: 203px;
}

.logo__img {
	width: 100%;
}

.navigation__item {
	display: block;
	margin: 0 30px;
}

.navigation__anchor {
	color: #fff;
	font: normal 14px "Myriad Pro", Arial;
	line-height: 1.2;
	letter-spacing: 0.2em;
  	text-align: center;
  	text-decoration: none;
	text-transform: uppercase;
}

.navigation__anchor-active {
	font-weight: bold;
	padding-bottom: 6px;
	border-bottom: 2px solid #fff;
}

.navigation__anchor:hover {
	padding-bottom: 6px;
	border-bottom: 2px solid #fff;
}



/* 	CONTENT  */

.content {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.Text__content {
	padding: 40px 100px;
}

.about-text {
	display: block;
	font: normal 16px "Myriad Pro";
	text-indent: 32px;
	line-height: 1.4em;
	margin-top: 10px;
	margin-bottom: 20px;
}

.content__offer {
	font: 50px "Roboto";
	font-weight: 100;
	margin-top: 60px;
}

.content__offer_center {
	margin-top: 0;
	text-align: center;
}

.content__offer_second-line {
	margin-left: 380px;
	margin-top: 0;
}

.logo-font {
	font-family: "Maiandra GD";
}

.content__sub-offer {
	color: #64646a;
	font: 16px "Roboto", "Times New Roman";
	font-weight: 300;
	text-indent: 32px;
	width: 440px;
	margin: 32px 0;
	margin-left: 105px;
}

.button {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	font: 400 24px "Roboto";
	height: 65px;
	width: 230px;
	border: 1px solid #fff;
	border-radius: 10px;
	background: rgba(225,225,225, 0);
}

.button_small {
	height: 35px;
	width: 120px;
	font-size: 14px;
}

.button_bright {
	background: #741717;
	border: none;
	
}

.button_bright:hover {
	background: #8e0d0d;
}

.Main__button {
	margin-left: 233px;
}

.image-wrapper {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.image-box {
	width: 45%;
	height: auto;
	border: 1px solid #fff;
	-webkit-box-shadow: 0px 4px 15.3px 2.7px rgba(0, 0, 0, 0.81);
	        box-shadow: 0px 4px 15.3px 2.7px rgba(0, 0, 0, 0.81);
	margin-bottom: 50px;
}

.relative_1, .relative_2, .relative_3 {
	width: 20%;
}

.relative_1 {
	position: relative;
	left: 0;
	bottom: 0;
}

.relative_2 {
	position: relative;
	left: 300px;
	bottom: 0;
}

.relative_3 {
	position: relative;
	left: 600px;
	bottom: 0;
}

.image {
	width: 100%;
}



/* 	LIST  */

.list-item {
	padding: 40px;
	width: 70%;
	min-width: 950px;
	height: 270px;
	float: left;
	background: url(../img/services_bg_1.png) left top /cover no-repeat;
}

.list-item_1 {
	background: url(../img/services_bg_1.png) left top /cover no-repeat;
}

.list-item_2 {
	background: url(../img/services_bg_2.png) right top /cover no-repeat;
}

.list-item_3 {
	background: url(../img/services_bg_3.png) left top /cover no-repeat;
}

.list-item_4 {
	background: url(../img/services_bg_4.png) right top /cover no-repeat;
}

.list-item__number {
	margin-top: -20px;
	width: 100px;
	color: #61595c;
	opacity: 18;
	font: 133px "Maiandra GD";
}

.list-item__header {
	margin-top: 20px;
	font: bold 40px "Myriad Pro";
}

.list-item__text {
	margin-top: 15px;
	width: 315px;
	font: normal 16px "Myriad Pro";
	line-height: 1.5;
}

.list-item__wrap {
	height: 70%;
}

.list-item__button {
	margin-left: 58px;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.list-item_right {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	float: right;
}

.list-item_right .list-item__number {
	text-align: right;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}

.list-item_right .list-item__header {
	text-align: right;
}

.list-item_right .list-item__text {
	text-align: right;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}



/* 	TABLE  */

.table-wrapper {
	margin-bottom: 50px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.table {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: auto;
}

.table__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.table__head, .table__cell {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	border: 1px solid #fff;
	width: 33%;
	max-width: 469px;
}

.table__head {
	background: rgba(49, 14, 81, 38);
	font: normal 32px "Myriad Pro";
	padding: 30px;
}

.table__cell {
	padding: 0 70px;
}

.table__cell:not(.colspan-3) {
	min-height: 450px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.colspan-3 {
	width: 99%;
	max-width: 1407px;
	padding: 30px 70px;
}

.table__price {
	font: 100 38px "Roboto";
}

.table__text {
	font: normal 16px "Myriad Pro";
}

.table__cell:nth-child(1) {
	background: url(../img/tables_bg_1.png) center top /cover no-repeat;
}

.table__cell:nth-child(2) {
	background: url(../img/tables_bg_2.png) center top /cover no-repeat;
}

.table__cell:nth-child(3) {
	background: url(../img/tables_bg_3.png) center top /cover no-repeat;
}

.table__cell:nth-child(4) {
	background: url(../img/tables_bg_4.png) center top /cover no-repeat;
}

.table__cell:nth-child(5) {
	background: url(../img/tables_bg_5.png) center top /cover no-repeat;
}

.table__cell:nth-child(6) {
	background: url(../img/tables_bg_6.png) center top /cover no-repeat;
}



/* 	FOOTER  */

.footer {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 120px;
}

.footer__social {
	margin-right: 15px;
	text-decoration: none;
	color: #fff;
}