<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Miduza</title>
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="fontawesome-free-5.6.1-web/css/all.css">
	<link rel="stylesheet" href="css/Styles.css">
	<link rel="stylesheet" href="css/media.css">
	<script src="js/main.js"></script>
</head>
<body class="page Images df">
	<style>
		.Images {
			background-image: url(./img/images_bg.jpg);
		}
	</style>
	<header class="header df">
		<div class="header__left df">
			<div class="header__logo logo">
				<img src="img/logo.png" alt="MIDUZA" class="logo__img">
			</div>
			<nav class="navigation">
				<script>
					displayMenu(2);
				</script>
				<!-- <ul class="navigation__ul df">
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor navigation__anchor-active">Главная</a>
					</li>
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor">Услуги</a>
					</li>
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor">Галерея</a>
					</li>
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor">Прайслист</a>
					</li>
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor">О нас</a>
					</li>
				</ul> -->
			</nav>
		</div>
		<div class="header__right">
			<nav class="navigation">
				<li class="navigation__item">
					<a href="index.html" class="navigation__anchor">Контакты</a>
				</li>
			</nav>
		</div>
	</header>
	<section class="content">
		<div class="image-wrapper df">
			<div class="image-box">
				<img src="img/images_1.png" alt="img" class="image">
			</div>
			<div class="image-box">
				<img src="img/images_2.png" alt="img" class="image">
			</div>
			<div class="image-box">
				<img src="img/images_3.png" alt="img" class="image">
			</div>
			<div class="image-box">
				<img src="img/images_4.png" alt="img" class="image">
			</div>
			<div class="image-box">
				<img src="img/images_5.png" alt="img" class="image">
			</div>
			<div class="image-box">
				<img src="img/images_6.png" alt="img" class="image">
			</div>
		</div>
		<div class="image-box relative_1">
				<img src="img/images_1.png" alt="img" class="image">
			</div>
			<div class="image-box relative_2">
				<img src="img/images_2.png" alt="img" class="image">
			</div>
			<div class="image-box relative_3">
				<img src="img/images_3.png" alt="img" class="image">
			</div>
	</section>
	<footer class="footer df">
		<a href="https://vk.com" class="footer__social"><i class="fab fa-vk"></i></a>
		<a href="https://www.facebook.com" class="footer__social"><i class="fab fa-facebook"></i></a>
	</footer>
</body>
</html>