<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Miduza</title>
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="fontawesome-free-5.6.1-web/css/all.css">
	<link rel="stylesheet" href="css/Styles.css">
	<link rel="stylesheet" href="css/media.css">
	<script src="js/main.js"></script>
</head>
<body class="page Lists df">
	<style>
		.Lists {
			background-image: url(./img/lists_bg_fhd.png);
		}
	</style>
	<header class="header df">
		<div class="header__left df">
			<div class="header__logo logo">
				<img src="img/logo.png" alt="MIDUZA" class="logo__img">
			</div>
			<nav class="navigation">
				<script>
					displayMenu(1);
				</script>
				<!-- <ul class="navigation__ul df">
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor navigation__anchor-active">Главная</a>
					</li>
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor">Услуги</a>
					</li>
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor">Галерея</a>
					</li>
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor">Прайслист</a>
					</li>
					<li class="navigation__item">
						<a href="index.html" class="navigation__anchor">О нас</a>
					</li>
				</ul> -->
			</nav>
		</div>
		<div class="header__right">
			<nav class="navigation">
				<li class="navigation__item">
					<a href="index.html" class="navigation__anchor">Контакты</a>
				</li>
			</nav>
		</div>
	</header>
	<section class="content">
		<p class="content__offer content__offer_center">Чем мы можем вам помочь?</p>
		<div class="content__list-wrapper">
			<ol class="list">
				<li class="list-item list-item_1 df">
					<div class="list-item__number">
						1
					</div>
					<div class="list-item__content">
						<div class="list-item__header">
							Звукозапись
						</div>
						<div class="list-item__wrap df">
							<p class="list-item__text">
								Запишем песню любой сложности! Ислользуется современный конденсаторный микрофон.
							</p>
							<div class="list-item__button df">
								<button class="button button_bright">Заказать</button>
							</div>
						</div>
					</div>
				</li>
				<li class="list-item list-item_right list-item_2 df">
					<div class="list-item__number">
						2
					</div>
					<div class="list-item__content">
						<div class="list-item__header">
							Сведение и Мастеринг
						</div>
						<div class="list-item__wrap df">
							<p class="list-item__text">
								Если Вы хотите записать свою авторскую песню или же исполнить композицию любимого исполнителя, то в таком случае нужно быть готовым к тому, что работать придется в студийных условиях. 
							</p>
							<div class="list-item__button df">
								<button class="button button_bright">Заказать</button>
							</div>
						</div>
					</div>
				</li>
				<li class="list-item list-item_3 df">
					<div class="list-item__number">
						3
					</div>
					<div class="list-item__content">
						<div class="list-item__header">
							«Песня под ключ»
						</div>
						<div class="list-item__wrap df">
							<p class="list-item__text">
								Хотите сделать сюрприз любимому человеку или устроиль весёлый праздник? Можем помочь придумать текст песни и наложить на музыку. Своя собственная песня, подумать только!
							</p>
							<div class="list-item__button df">
								<button class="button button_bright">Заказать</button>
							</div>
						</div>
					</div>
				</li>
				<li class="list-item list-item_right list-item_4 df">
					<div class="list-item__number">
						4
					</div>
					<div class="list-item__content">
						<div class="list-item__header">
							Придумаем фонограмму
						</div>
						<div class="list-item__wrap df">
							<p class="list-item__text">
								Со времени появления караоке люди получили возможность исполнять любимые песни под минус. Однако далеко не на все композиции можно найти фонограмму в Интернете. Мы сочиним минусовку и запишем  трек лично для вас
							</p>
							<div class="list-item__button df">
								<button class="button button_bright">Заказать</button>
							</div>
						</div>
					</div>
				</li>
			</ol>
		</div>





	</section>
	<footer class="footer df">
		<a href="https://vk.com" class="footer__social"><i class="fab fa-vk"></i></a>
		<a href="https://www.facebook.com" class="footer__social"><i class="fab fa-facebook"></i></a>
	</footer>
</body>
</html>