body {
	font-family: Roboto, Arial, sans-serif;
	color: #180429;
	size: 14px;
	line-height: 150%;
	margin: 0;
	padding: 0 100px;
}

.content {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header	{
	font-size: 30px;
	letter-spacing: 15px;
	display: block;
	margin-bottom: 10px;
}

.first-line {
	margin-top: 100px;
	/*position: absolute;
	top: 0;*/
	display: flex;
	justify-content: space-between;
}

.line_left {
	width: 5px;
	height: 100px;
	background: #2d125c;
	flex-shrink: 0;
}

.text {
	margin: 0 30px;
}

.image {
	width: 50%;
	flex-shrink: 0;
}

.image__res {
	width: 100%;
}

.second-line {
	display: flex;
	justify-content: space-between;
}

.button {
	box-sizing: border-box; 
	font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 5px 10px;
    min-width: 100px;
    border: 3px solid #2d125c;
}

.button:hover {
	cursor: pointer;
}

.button-red {
	border: none;
	background: #f73939;
	color: #fff;
}